# Created by https://www.toptal.com/developers/gitignore/api/ada
# Edit at https://www.toptal.com/developers/gitignore?templates=ada

### Ada ###
# Object file
*.o

# Ada Library Information
*.ali

.objs/*

# End of https://www.toptal.com/developers/gitignore/api/ada